<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="container">
            <h1>B TECH 1 YEAR (1 SEM & 2 SEM) Course Search</h1>
            <h2>(All branches except Bio Technology and Agriculture Engg.)</h2>

            <input type="text" id="searchInput" onkeyup="searchCourses()" placeholder="Search for courses...">

            <ul id="courseList">
                {% for link in links %}
                <li><a href="{{ link }}">{{ link }}</a></li>
            {% endfor %}
            </ul>
        </div>

        <script>
            function searchCourses() {
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById('searchInput');
                filter = input.value.toUpperCase();
                ul = document.getElementById("courseList");
                li = ul.getElementsByTagName('li');

                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
        </script>

        </body>
        </html>
